.cards {
  position: relative;
  height: 632px;
}

.deck {
  position: absolute;
  right: 92px;
  top: 36px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  cursor: grab;
  z-index: 5;
}

.deck > div {
  position: relative;
  touch-action: none;
  background-repeat: no-repeat;
  background-position: center center;
  width: 632px;
  height: 598px;
  will-change: transform;
  border-radius: 10px;
}
